<div style="height: 200px; width: 100%;">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; height: 200px; width: 100%; margin: 0 auto;"
         data-ad-format="fluid"
         data-ad-layout-key="-ef+6k-30-ac+ty"
         data-ad-client="ca-pub-5746287019974907"
         data-ad-slot="4149887982"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-5746287019974907"
     data-ad-slot="2220653635"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>     -->
</div>
